<div class="container">  
    <h2 class="header">AG Grid CRUD Operations Example in Angular</h2>  
    <hr>  
        <div class="row">  
            <div class="col-md-8"><h4> Number of Contacts: {{counts}}</h4></div>  
            <div class="col-md-4">  
                
                <button class="btn btn-sm btn-success button " style="margin: 10px;" (click)="AddContact()" >Add User</button>   
  
                <button class="btn btn-sm btn-primary " style="margin: 10px;" (click)="editContact()">Edit User</button>   
  
                <button class="btn btn-sm btn-danger" style="margin: 10px;" (click)="deleteContact()">Delete User</button>  
            </div>  
        </div>  
        <br>  
            <ag-grid-angular
            style="width: 1100px; height: 400px;"
            class="ag-theme-alpine"
               (gridReady)="onGridReady($event)"  
                [columnDefs]="columnDefs"
                [rowData]="contacts"
                rowSelection="single"
                pagination="true" 
                paginationPageSize=15  
></ag-grid-angular>  
        </div>  